@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}


$light: #060b26;
$gray: #c4ccde;

.flex {
    display: flex;
}


.navbar {
  background-color: $light;
  padding: 1rem 2rem;
  border-bottom: 1px solid $gray;

}

.content {
  width: 100%;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: $light;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;

}
.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: $gray;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: $gray;
}

.nav-menu-items {
  width: 100%;

}

.navbar-toggle {
  background-color: $light;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
span{
  margin-left: 16px;
}